.carousel-custom {
  max-width: 1000px; /* 캐러셀 최대 너비 */
  margin: 20px auto; /* 중앙 정렬 */
  margin-top: 50px;
}

.carousel-custom .carousel-control-prev-icon,
.carousel-custom .carousel-control-next-icon {
  border-radius: 50%;
  background-color: #e36d1d; /* 버튼 배경 */
}

.carousel-custom .carousel-indicators [data-bs-target] {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 10px;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-500, #667085);
}

.carousel-custom .carousel-indicators .active {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 10px;
  height: 4px;
  border-radius: 4px;
  background: rgba(227, 109, 29, 0.9);
}
