<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="category" >
<body>
<div class="container my-5">
<nav class="category-container" aria-label="Category navigation">
  <div class="category-item">
    <a href="#" class="category-link" aria-label="Culture and Art category">
      <h3 class="category-title">문화 / 예술</h3>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets%2F4409ff4b6d9f431fb368db5b6f5cb91f%2F07a5c444829e4d8a9a69721581d4f6ee" class="category-icon" alt="" />
    </a>
  </div>
  <div class="category-item">
    <a href="#" class="category-link" aria-label="Activity category">
      <h3 class="category-title">액티비티</h3>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets%2F4409ff4b6d9f431fb368db5b6f5cb91f%2F07a5c444829e4d8a9a69721581d4f6ee" class="category-icon" alt="" />
    </a>
  </div>
  <div class="category-item">
    <a href="#" class="category-link" aria-label="Food and Drink category">
      <h3 class="category-title">푸드/드링크</h3>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets%2F4409ff4b6d9f431fb368db5b6f5cb91f%2F07a5c444829e4d8a9a69721581d4f6ee" class="category-icon" alt="" />
    </a>
  </div>
  <div class="category-item">
    <a href="#" class="category-link" aria-label="Hobby category">
      <h3 class="category-title">취미</h3>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets%2F4409ff4b6d9f431fb368db5b6f5cb91f%2F07a5c444829e4d8a9a69721581d4f6ee" class="category-icon" alt="" />
    </a>
  </div>
  <div class="category-item">
    <a href="#" class="category-link" aria-label="Travel category">
      <h3 class="category-title">여행</h3>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets%2F4409ff4b6d9f431fb368db5b6f5cb91f%2F07a5c444829e4d8a9a69721581d4f6ee" class="category-icon" alt="" />
    </a>
  </div>
  <div class="category-item">
    <a href="#" class="category-link" aria-label="Self-improvement category">
      <h3 class="category-title">자기계발</h3>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets%2F4409ff4b6d9f431fb368db5b6f5cb91f%2F07a5c444829e4d8a9a69721581d4f6ee" class="category-icon" alt="" />
    </a>
  </div>
</nav>
</div>
</body>
</html>