<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navigation" >
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/final_logo2.svg}" alt="Logo" class="logo" width="180"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center gap-3 mt-4">
                <li class="nav-item"><a class="nav-link" href="#">소모임</a></li>
                <li class="nav-item"><a class="nav-link" href="#">채팅</a></li>
                <li class="nav-item"><a class="nav-link" href="#">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" href="#">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="#">회원가입</a></li>
            </ul>
        </div>
        <form class="search-bar d-flex align-items-center" role="search">
            <input class="form-control" type="search" placeholder="원하는 모임을 찾아보세요 !" aria-label="Search" />
            <button class="btn" type="submit">
                <img th:src="@{/img/search-heart-fill.svg}" alt="Search Icon" style="width: 24px; height: 24px;" />
            </button>
        </form>
    </div>
</nav>
</body>
</html>