<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<body>
<section th:fragment="randomList" class="random-random-container container my-5" aria-labelledby="random-random-title">
    <h2 id="random-random-title" class="random-random-title text-left mb-4">모락모락 랜덤MO임🎲</h2>

    <section class="recommended-meetings" aria-labelledby="recommended-title" id="random">
        <div th:if="${not #lists.isEmpty(clubList)}">
            <!-- clubList가 비어있지 않으면 출력 -->
            <div class="row row-cols-2 row-cols-md-3 g-4 mt-4 justify-content-center">
                <div th:each="randomClub : ${clubList}" class="col">
                    <a class="card meeting-card h-100" th:href="@{/clubs/{id}(id=${randomClub.id})}">
                        <img th:if="${randomClub.storedFileName != null and #lists.size(randomClub.storedFileName) > 0}"
                             th:src="@{/upload/{filename}(filename=${randomClub.storedFileName[0]})}"
                             alt="클럽 이미지" class="rounded img-fluid w-100 h-100">
                        <div class="card-body meeting-details">
                            <p class="card-text">
                            <h5>
                                <span th:switch="${randomClub.selectedTheme}">
                                    <span th:case="'액티비티'" class="badge custom-badge custom-badge-success"
                                          th:text="${randomClub.selectedTheme}">액티비티</span>

                                    <span th:case="'자기계발'" class="badge custom-badge custom-badge-info"
                                          th:text="${randomClub.selectedTheme}">자기계발</span>
                                    <span th:case="'취미'" class="badge custom-badge custom-badge-warning"
                                          th:text="${randomClub.selectedTheme}">취미</span>
                                    <span th:case="'여행'" class="badge custom-badge custom-badge-danger"
                                          th:text="${randomClub.selectedTheme}">여행</span>
                                    <span th:case="'문화/예술'" class="badge custom-badge custom-badge-primary"
                                          th:text="${randomClub.selectedTheme}">문화/예술</span>
                                    <span th:case="'푸드/드링크'" class="badge custom-badge custom-badge-secondary"
                                          th:text="${randomClub.selectedTheme}">푸드/드링크</span>
                                    <span th:case="*" class="badge custom-badge custom-badge-light text-dark"
                                          th:text="'미정'">미정</span>
                                </span>
                            </h5>
                            </p>
                            <p class="card-title meeting-location text-truncate" th:text="${randomClub.title}"></p>
                            <p class="card-text meeting-description text-truncate" th:text="${randomClub.content}"></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div th:if="${#lists.isEmpty(clubList)}">
            <!-- clubList가 비어있으면 표시할 메시지 -->
            <p>현재 추천할 모임이 없습니다.</p>
        </div>
    </section>
</section>
</body>
</html>