<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"   layout:decorate="~{layouts/main-layout}" layout:fragment="content">
<head>
    <title>취미플랫폼::</title>
    <link th:href="@{/css/carousel.css}" rel="stylesheet"/>
    <link th:href="@{/css/category_menu.css}" rel="stylesheet"/>
    <link th:href="@{/css/userRecommend.css}" rel="stylesheet"/>
    <link th:href="@{/font/font.css}" rel="stylesheet"/>
    <style>*{
       font-family: 'Pretendard-Medium';
    }</style>


</head>
<body>
    <div >
        <div th:replace="~{fragments/carousel :: carousel}"></div>
        <div th:replace="~{fragments/category_menu :: category}"></div>
        <div th:replace="~{fragments/mobtiBanner :: mobtiBanner}"></div>
        <div th:replace="~{fragments/userRecommend :: userRecommend}"></div>
        <div th:replace="~{fragments/userLocation :: userLocation}"></div>
        <div th:replace="~{fragments/randomList :: randomList}"></div>
    </div>


</body>
</html>