<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>모임 목록</title>
</head>
<body>
    <h1>모임 목록</h1>
    <table>
        <thead>
            <tr>
                <th>모임 제목</th>
                <th>호스트</th>
                <th>상태</th>
                <th>참여 인원</th>
                <th>상세보기</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="club : ${clubs}">
                <td th:text="${club.title}">모임 제목</td>
                <td th:text="${club.hostNickname}">호스트</td>
                <td th:text="${club.status}">모임 상태</td>
                <td th:text="${club.currentParticipants}">참여 인원</td>
                <td><a th:href="@{/clubs/{id}(id=${club.id})}">상세보기</a></td>
                <!-- 참여 버튼 -->
                <form th:action="@{/clubs/participate/{id}(id=${club.id})}" method="post">
                    <button type="submit" th:disabled="${club.isFull}">참여하기</button>
                </form>

                <p th:if="${club.isFull}">모임이 마감되었습니다.</p>
            </tr>
        </tbody>
    </table>

    <a href="/clubs/create">모임 만들기</a>

</body>
</html>
